.photo-gallery-section {
  padding: 20px 10px;
  background-color: #f5f5f5;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  color: black;
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.modal-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  transform: translateY(-50%);
}

.prev-button,
.next-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.photo-gallery-header {
  margin-bottom: 20px;
  background-color: #FBD45A;
}

.photo-gallery-header h2 {
  font-size: 40px;
  padding: 40px;
  font-weight: 800;
  color: #333;
}

.photo-gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.photo-gallery-item {
  flex: 1 1 calc(24% - 20px); /* Adjust this value to change the number of items per row */
  max-width: calc(24% - 20px); /* Adjust this value to change the number of items per row */
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.photo-gallery-item:hover {
  transform: scale(1.05);
}

.photo-gallery-item img {
  width: 100%;
  height: 200px; /* Set the fixed height for images */
  object-fit: fill; /* Ensure the image covers the container while maintaining aspect ratio */
  border-radius: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .photo-gallery-item {
      flex: 1 1 calc(33.33% - 20px); /* 3 items per row */
      max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .photo-gallery-item {
      flex: 1 1 calc(50% - 20px); /* 2 items per row */
      max-width: calc(50% - 20px);
  }

  .photo-gallery-header h2 {
      font-size: 30px;
      padding: 30px;
  }
}

@media (max-width: 480px) {
  .photo-gallery-item {
      flex: 1 1 calc(100% - 20px); /* 1 item per row */
      max-width: calc(100% - 20px);
  }

  .photo-gallery-header h2 {
      font-size: 24px;
      padding: 20px;
  }
}
